* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.whole-body-back{
  background: rgb(160, 158, 158);
  
}
.destination-title{
  margin-top: 5%;
  margin-bottom: 5%;
}
.destination-title h1{
  color: #fff;
  font-size: 52px;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 10px;
}
.destination-title p{
  color: rgb(39, 39, 39);
  text-align: center;
  letter-spacing: 1px;
}
.row{
  margin: 0 -5px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  box-shadow: 10px 10px 8px 0 rgba(68, 68, 68, 0.877);
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.card {
  padding: 10px;
  text-align: center;
   max-width: 550px; 
}
.header1{
  background-image: url('https://www.elsetge.cat/myimg/f/223-2233779_full-hd-smiley-ball.jpg');
  height: 150px;
  width: 100%;
  padding: 20px;
  background-size:cover;
  }
.header h3{
    margin: 0px;
}
.header2{
  background-image: url('https://vietnam.travel/sites/default/files/inline-images/Top%20%20Luxury%20Hotels%20Vietnam-6.jpg');
  height: 150px;
    width: 100%;
    padding: 20px;
    background-size:cover;
  }
  .header h3{
      margin: 0px;
  }
  .header3{
    background-image: url('https://cdn.cnn.com/cnnnext/dam/assets/160726132158-us-beautiful-hotels-4-four-seasons-maui-2.jpg');
    height: 150px;
      width: 100%;
      padding: 20px;
      background-size:cover;
    }
    .header h3{
        margin: 0px;
    }
    .header4{
      background-image: url('https://adwallpapers.xyz/uploads/posts/75503-spa-stones-candles-wallpaper-4k-ultra-hd-wallpaper__other.jpg');
      height: 150px;
        width: 100%;
        padding: 20px;
        background-size:cover;
      }
      .header h3{
          margin: 0px;
      }