* {
  box-sizing: border-box;
}
.row{
  margin: 0 -5px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* .card{
    height: 420px;
    width: 320px;
    margin: 0px auto;
    float: left;
    padding: 0 30px;
    
} */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  box-shadow: 10px 10px 8px 0 rgba(68, 68, 68, 0.877);
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.card {
  
  padding: 10px;
  text-align: center;
  max-height: 480px;  
}
.header1{
background-image: url(https://wallpapercave.com/wp/Lzqbhii.jpg);
height: 150px;
  width: 100%;
  padding: 20px;
  width:100%;
  background-size:cover;
}
.header h3{
    margin: 0px;
}
.header2{
  background-image: url(https://miro.medium.com/max/3840/1*qUxaz3RDvnuNoTE23YRCOw.jpeg);
  height: 150px;
    width: 100%;
    padding: 20px;
    width:100%;
    background-size:cover;
  }
  .header h3{
      margin: 0px;
  }
  .header3{
    background-image: url(https://assets.newatlas.com/dims4/default/070ca83/2147483647/strip/true/crop/4032x1960+0+0/resize/1200x583!/quality/90/?url=http%3A%2F%2Fnewatlas-brightspot.s3.amazonaws.com%2Fc3%2Fb7%2Ffcf101f241d3a2e58784fe548b16%2Fant-balancing-the-earth-by-anadgphotography-philippines-analiza-de-guzman-agora-images.jpg);
    height: 150px;
      width: 100%;
      padding: 20px;
      width:100%;
      background-size:cover;
    }
    .header h3{
        margin: 0px;
    }
    .header4{
      background-image: url(https://www.worldphoto.org/sites/default/files/default-media/1234395%20%C2%A9%20corin%20mihaila%2C%20Romania%2C%20entry%2C%20Open%20competition%2C%20Landscape%2C%202019%20Sony%20World%20Photography%20Awards.jpg);
      height: 150px;
        width: 100%;
        padding: 20px;
        width:100%;
        background-size:cover;
      }
      .header h3{
          margin: 0px;
      }