body{
  margin: 0;
  padding: 0;
  background: rgba(37, 37, 37, 0.712);
  font-family: 'Courier New', Courier, monospace;

}
.container1{
  position: relative;
  width: 1280px;
  height: 500px;
  margin: 0px auto 0;
  
}
.container1 .box{
  position: relative;
  width: 405px;
  height: 250px;
  background: rgb(255, 255, 255);
  float: left;
  margin: 10px;
  box-sizing: border-box; 
  overflow: hidden;
  box-shadow: 1px 2px 10px 5px rgba(29, 0, 0, 0.699);
  }
  .container1 .box .imgBox{
    background-size: cover;
    width: 100%;
  }
  .container1 .box:before{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    transition: 0.5s;
    transform: scaleX(0);
    opacity: 0;
    z-index: 1;
  }
  .container1 .box:hover:before{
    transform: scaleX(1);
  }
  .container1 .box:after{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    transition: 0.9s;
    transform: scaleY(0);
    opacity: 0;
    z-index: 1;
  }
  .container1 .box:hover:after{
    transform: scaleY(1);
  }
  .container1 .box .imgBox{
    position: relative;
    
  }
  .container1 .box .imgBox img{
    transition: 0.5s;
  }
  .container1 .box:hover .imgBox img{
    filter: blur(4px);
    opacity: 0.5;
    transform: scale(1.2);
  }
  .container1 .box .content{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }
  .container1 .box .content h2{
    margin: 0;
    padding: 0;
    color: rgb(132, 0, 255);
    transition: 0.5s;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
  }
  
  .container1 .box .content p{
    margin: 0;
    padding: 0;
    color: rgb(17, 16, 16);
    transition: 0.5s;
    transform: translateY(50%);
    opacity: 0;
    visibility: hidden;
    
  }
  .container1 .box:hover .content h2,
  .container1 .box:hover .content p
  {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition-delay: 0.2s;
    font-weight: bold;
  }
  