
.slide{
    width: 100%;
    height: 300px;
    margin: 16px auto;
    padding-top: 1px; 
}
.imge {
    box-shadow: 20px 10px 10px 0px rgb(10, 10, 10);
    /* width:100%;  */
    height:298px;
    border-radius: 30px;
    border: 5px solid rgba(36, 35, 33, 0.527);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .imge span{
      font-size: 20px;
      padding-left: 11cm;
      color: rgb(0, 0, 0);
  }
  .react-slideshow-container + div.indicators > div {
    width: 14px;
    height: 13px;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 50%;
    background: rgba(0, 232, 248, 0.788);
    cursor: pointer;
    margin-top: -20px;
}
.react-slideshow-container .nav span {
    width: 10px;
    height: 10px;
    border-color: rgb(24, 29, 2);
    border-style: solid;
    transform: rotate(45deg);
}
.slide-container {
    width: 70%;
    margin: auto; }