.sidelook{
  background-image: linear-gradient(rgba(0, 0, 0, 0.404),rgba(0, 0, 0, 0.438)), 
  url(https://3.bp.blogspot.com/-HGtngfGeCTY/UvSiBNFBVPI/AAAAAAAAAds/euXU7fHMmXo/s1600/Paradise_Island_Wallpaper.jpg) ;
  background-size: 100% 100%;
  width: 100%;
  height: 670px;  
}
.sidelook h2{
  font-size: 2.56rem;
  line-height: 1.95;
  letter-spacing: 1.06rem;
  color: rgb(250, 249, 249);
  margin-top: 20px;
  text-align: center;
  font-style: italic;
  font-family: Comic Sans MS, Comic Sans, cursive;
  padding-top: 5cm;
  font-weight: bold;
}
.sidelook p{
  text-align: center;
  font-family: Comic Sans MS, Comic Sans, cursive;
  color: rgb(112, 22, 0);
  font-size: 19px;
}
.buttn1{
  background-color: rgb(77, 73, 73);  
  color: rgba(249, 250, 250, 0.938);
  padding: 5px 6px;
  font-size: 21px;
  cursor: pointer;
  margin-top: 3px;
  margin-left: 16cm;
  border-radius: 10px;
}
.buttn1:hover{
background-color: black;
}