
.slide{
    width: 100%;
    height: 300px;
    margin: 16px auto;
    padding-top: 1px; 
}
/* .slide each-img{
    height: 400px;
    background-size: cover;
    display: flex;
} */
.slide img {
    box-shadow: 20px 10px 10px 0px rgb(10, 10, 10);
    width:100%; 
    height:280px;
    border-radius: 30px;
    border: 5px solid rgba(36, 35, 33, 0.527);
  }
  .react-slideshow-container + div.indicators > div {
    width: 14px;
    height: 13px;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 50%;
    background: rgba(0, 232, 248, 0.788);
    cursor: pointer;
}
.react-slideshow-container .nav span {
    width: 10px;
    height: 10px;
    border-color: rgb(208, 255, 0);
    border-style: solid;
    transform: rotate(45deg);
    /* border-style: groove;
    border-radius: 20px; */
}