body{
    margin: 0;
    padding: 0;
}
.About-imag{
    width: 100%; height: 530px;
    background-size: 100% 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.315),rgba(0, 0, 0, 0.336)), url('https://www.zastavki.com/pictures/640x480/2018Animals___Under_water_Three_orange_starfish_on_the_yellow_sand_to_the_sea_128864_29.jpg');
}